/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
}

/* rwd img css，可當作是 CSS Reset 其中一個 */

img {
  max-width: 100%;
  height: auto;
}

/* 全域 border box */

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

/* 共同css */
.mb1 {
  margin-bottom: 16px;
}

.mb2 {
  margin-bottom: 36px;
}

.mb3 {
  margin-bottom: 40px;
}

.mb4 {
  margin-bottom: 24px;
}

.mb5 {
  margin-bottom: 8px;
}

.center {
  max-width: 920px;
  margin: 0 auto;
}

/* 主體 CSS */

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #aa0601;
}

.header > a {
  padding: 30px 0 29.43px 88px;
}

/* 平板 992~768 雙欄*/
@media (max-width: 992px) {
  .header > a {
    padding-left: 39px;
  }
}

/* 手機 單欄*/
@media (max-width: 767px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header > a {
    padding: 10px auto 10.86px auto;
  }
}

.menu {
  display: flex;
  justify-content: start;
  padding: 40px 0 40px 0;
}
@media (max-width: 992px) {
}

/* 手機 單欄*/
@media (max-width: 767px) {
  .menu {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
}

.menu li {
  margin-right: 64px;
  line-height: 30px;
  font-size: 20px;
}

.menu li a {
  color: #fff;
}

/* 平板 992~768 雙欄*/
@media (max-width: 992px) {
}

/* 手機 單欄*/
@media (max-width: 767px) {
  .menu li {
    margin-right: 0;
    width: 50%;
    border: 1px #fff solid;
    padding: 8px 54px 8px 54px;
    text-align: center;
  }
}

.banner {
  hight: 304px;
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/qa.png?raw=true");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 80px;
}

.h1 {
  font-size: 64px;
  line-height: 90px;
  padding-top: 214px;
  font-weight: 900;
  /*   border:1px solid #000; */
}

.icon-help {
  display: inline-block;
}

/* 平板 992~768 雙欄*/
@media (max-width: 992px) {
  .banner {
    margin-bottom: 40px;
  }

  .h1 {
    font-size: 48px;
    line-height: 67px;
    padding-top: 237px;
  }
  .icon-help {
    display: inline-block;
    width: 48px;
    height: 48px;
  }
}

/* 手機 單欄*/
@media (max-width: 767px) {
  .banner {
    hight: 143px;
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/qa.png?raw=true");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 24px;
  }
  .h1 {
    font-size: 28px;
    line-height: 40px;

    padding-top: 103px;
  }
  .icon-help {
    display: inline-block;
    width: 24px;
    height: 24px;
  }
}

.title_qa {
  margin-bottom: 40px;
}

.title_h2 {
  font-size: 32px;
  line-height: 45px;
  font-weight: 900;
}

.title_h3 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.inner_content center {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

/* 平板 992~768 雙欄*/
@media (max-width: 992px) {
  .container {
    max-width: 690px;
  }
}

/* 手機 單欄*/
@media (max-width: 767px) {
  .title_h2 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 12px;
  }
  .title_h3 {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 22px;
  }
  .container {
    max-width: 345px;
  }
}


/* 搜尋bar */
.bannerbar {
    background-color: #650300;
    color: #fff;
    margin-bottom: 82px;
  }
  
  .banner_list {
    display: flex;
    justify-content: space-between;
    padding: 12px 0 14px 0;
  }
  
  .banner_list_nav {
    display: flex;
    font-size: 20px;
    line-height: 28px;
   
  }
  
  .banner_list_nav li{
     padding-right: 48px;
  }
  
  @media (max-width: 992px) {
    .container {
      max-width: 690px;
      margin: 0 auto;
    }
  
    .banner_list_nav {
      font-size: 16px;
      line-height: 22px;
      font-weight: 900;
      padding:16px 0 16px 0 ;
    }
    .banner_list {
      padding: 16px 32px 16px 0;
    }
    
    
    
    
  }
  
  @media (max-width: 767px) {
    .banner{
      display:none;
    }
    
    
    
   
   
    
  }
  
  /* 搜尋bar end */
  
  /* blog */
  .blog_content {
    display: flex;
    margin-bottom: 60px;
  }
  
  .blog_content_text {
    padding-left: 30px;
  }
  
  .blog_content_title {
    font-size: 32px;
    line-height: 45px;
    font-weight: 900;
    color: #650300;
  }
  
  .blog_content_subtitle {
    padding-bottom: 24px;
    font-size: 24px;
    line-height: 26px;
  }
  
  .blog_content_subtitle_text {
    display: flex;
    justify-content: space-between;
  }
  
  .blog_content_date {
    font-size: 16px;
    line-height: 21px;
  }
  
  .blog_content_blog_text {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 19px;
  }
  
  .blog_last_text {
    text-align: right;
    font-size: 36px;
    line-height: 48px;
    font-weight: 900;
    color: #650300;
  }
  
  @media (max-width: 992px) {
     .container {
      max-width: 690px;
      margin: 0 auto;
    }
    
    .blog_content_img{
      width:50%;
    }
    
    .blog_content_text{
       width:50%;
    }
    
    .blog_content_title {
    font-size: 20px;
    line-height: 28px;
    font-weight: 900;
    color: #650300;
  }
    
    .blog_content_subtitle {
    padding-bottom: 24px;
    font-size: 16px;
    line-height: 21px;
  }
    
    .blog_content_blog_text {
    font-size: 14px;
    line-height: 21px;
    
  }
    .blog_last_text {
    text-align: right;
    font-size: 14px;
    line-height: 21px;
    font-weight: 900;
    color: #555555;
  }
    
    .blog_content_blog_text_none{
      display:none;
    }
    
  }
  
  @media (max-width: 767px) {
  
   .container {
      max-width: 345px;
      margin: 0 auto;
    }
    
    .blog_content{
      display: flex;
      flex-direction: column;
    }
    
    .blog_content_img{
      width:100%;
    }
    
    .blog_content_text{
       width:100%;
    
    }
    
    .blog_content_text {
    padding: 0px;
  }
    
    .blog_content_text_none{
     display:none; 
    }
  
  }
  
  /* blog end*/
  
  /*  pages */
  
  .blog_pages {
    padding-bottom: 156px;
  }
  
  .blog_pages_number {
    display: flex;
    justify-content: center;
  }
  
  .blog_pages_number a {
    padding: 10px 15px 12px 9px;
    font-size: 19px;
    line-height: 26px;
    border: 1px solid #555555;
    color: #555555;
  }
  
  @media (max-width: 992px) {
  }
  
  @media (max-width: 767px) {
  }
  
  /*  pages end */



.footer {
  background-color: #aa0601;
  color: #ffffff;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
}

.footer_item_list ul {
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  width: 464px;
}

.footer_item_list p {
  margin-bottom: 17px;
  font-size: 36px;
  display: flex;
  align-items: center;
}

.footer_item_list p img {
  width: 40px;
  height: 40px;
  padding-right: 20px;
}

.footer_item_link ul {
  display: flex;
  justify-content: space-between;
  width: 208px;
}

.footer_copyright {
  border-top: 1px solid white;
  display: flex;
  width: 1110px;
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 28.43px;
}

.footer_copyright p {
  width: 10%;
}

.footer_copyright p img {
  width: 80px;
  height: 48.75px;
}
.footer_copyright_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.footer_copyright_item p {
  width: 50%;
}

.footer_copyright_item ul {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
.footer_copyright_item ul li {
  margin-left: 62px;
  font-size: 14px;
}

@media (max-width: 992px) {

  .footer {
    padding-left: 48px;
    padding-right: 39px;
  }


  .footer_item_list p {
    font-size: 20px;
  }

  .footer_item_list p img {
    width: 24px;
    height: 24px;
  }

  .footer_item_link ul li img {
    width: 24px;
    height: 24px;
  }

  .footer_copyright {
    width: 100%;
  }

  .footer_copyright > p {
    display: none;
  }

  .footer_copyright_item {
    width: 100%;
  }
}

@media (max-width: 767px) {
  
  .footer {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer_content {
    width: 100%;
    padding-top: 23px;
    margin-bottom: 7px;
  }

  .footer_item_list p {
    font-size: 16px;
    margin-bottom: 7px;
  }

  .footer_item_list p img {
    width: 24px;
    height: 24px;
  }

  .footer_item_list ul {
    display: none;
  }

  .footer_item_list p {
    font-size: 16px;
  }
  .footer_item_link ul {
    width: 120px;
  }

  .footer_copyright {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row-reverse;
        position:relative;

  }

  .footer_copyright > p {
    display: block;
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

  }

  .footer_copyright p img {
    width: 46px;
    height: 27.93px;
    position:absolute;
    right: 0;
    
  }

  .footer_copyright_item {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .footer_copyright_item p {
    width: 100%;
    font-size: 14px;
    margin-bottom: 8px;
  }
  .footer_copyright_item ul {
    width: 100%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
  }

  .footer_copyright_item ul li {
    width: 100%;
    margin: 0px auto 8px;
  }
}
